html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: red;
  font-weight: bold;
}

* {
  box-sizing: border-box;
}

.errorMessage {
  color: red;
  font-size: 10pt;
}

.MuiButton-root {
  text-transform: none;
}

.MuiButton-contained {
  background-color: #02396d;
  color: white;
}

.MuiAppBar-colorDefault {
  background-color: red;
}

.MuiAppBar-colorPrimary {
  /* background-color: #10856C; */
  background-color: #043229;
}